In [8]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

from matplotlib_inline import backend_inline
backend_inline.set_matplotlib_formats('retina')

In [9]:
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib
plt.style.use('~/Desktop/saunders.mplstyle')

Start with just max daily temperature

In [ ]:
hcn = pd.read_fwf('data/ghcnd_hcn.tar.gz', compression='gzip',\
                   colspecs=[[1,11], [11, 15], [15, 17], [17, 21]] + \
                             [[i, j] for i, j in zip(np.arange(21, 267, 8).tolist(), np.arange(26, 267, 8).tolist())], \
                   names=['station', 'year', 'month', 'type'] + ['day%s'%str(i) for i in range(1, 32)])

In [11]:
hcn1_tmax = hcn1[hcn1['type']=='TMAX']

In [12]:
days_to_drop = np.array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True,  True,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False])

In [13]:
stations = np.unique(hcn1_tmax['station'])

append_list = []

for station in stations:
    years = np.unique(hcn1_tmax[hcn1_tmax['station']==station]['year'])

    for year in years:
        station_year = hcn1_tmax[np.logical_and(hcn1_tmax['station']==station, hcn1_tmax['year']==year)]
        if station_year.shape[0] < 12:
            continue
        else:
            append_list.append([station, year] + station_year[station_year.columns[4:]].to_numpy().flatten()[~days_to_drop].tolist())
        
hcn1_tmax_byyear = pd.DataFrame(data=append_list, \
                                columns=['station', 'year'] + ['day%s'%str(i) for i in range(1, 366)])

In [14]:
hcn1_tmax_byyear

,station,year,day1,day2,day3,day4,day5,day6,day7,day8,...,day356,day357,day358,day359,day360,day361,day362,day363,day364,day365
0,SW00024193,1912,50,28,6,-11,-11,22,39,28,...,50,-11,0,11,17,0,11,0,100,50
1,SW00024193,1913,33,11,33,22,-67,-94,-67,-56,...,6,-11,-6,0,6,-17,22,0,-28,-56
2,SW00024193,1914,0,6,44,39,44,11,22,56,...,-22,6,-6,-17,-11,0,56,17,11,17
3,SW00024193,1916,-56,0,94,94,44,17,17,17,...,39,50,50,-6,-61,-67,-67,-39,-61,-61
4,SW00024193,1917,-56,-72,11,-17,-33,17,11,-11,...,83,144,133,156,161,144,150,156,133,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,SW00024193,2012,-9999,-9999,-9999,39,28,39,39,11,...,22,22,28,-11,-39,0,-39,-61,-39,-72
92,SW00024193,2013,-100,-111,-128,-139,-150,-122,-111,-61,...,-11,28,61,-22,-28,-39,-11,-22,-22,-22
93,SW00024193,2014,22,-11,-22,28,11,-39,-11,11,...,122,39,22,39,11,-11,11,11,-50,-72
94,SW00024193,2015,-72,-61,-39,-28,11,39,39,39,...,61,28,11,0,-11,-61,-50,-28,-28,-39
95,SW00024193,2016,-61,-72,-28,-22,0,22,39,39,...,0,-22,28,-22,-39,-61,11,-22,-61,-61